body {
    background-color: steelblue;
    color: black;
}

hr {
    border-color: white;
}

.heading {
    font-size: 25px;
    font-weight: bold;
}

#camera {
    border: 2px dashed black;
    width: 350px;
    height: 300px;
}

#result_object_name, #result_object_accuracy {
    color: white;
    font-weight: bold;
}